<div class="direct">
  <div class="dialogs col-xs-3">
    <div class="dialogs__search">
      <input type="text" placeholder="Search">
    </div>

    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">My long name sssssssss</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>
    <div class="dialog">
      <img class="dialog__avatar" src="assets/no-avatar.png" alt="avatar">
      <div class="dialog__author">Author</div>
    </div>

  </div>
  <div class="conversation col-xs-9">

  </div>
</div>
