@import "flexboxgrid";

.direct {
  display: flex;
}

.dialogs {
  height: 100vh;
  background: #17212b;

  // Unknown padding: 5, null here
  padding: 0;

  // Disable selecting
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  // Search input
  &__search {
    text-align: center;

    & input {
      width: 80%;
      background: #242f3d;
      padding: 0.5em;
      margin: 1em;
      border-radius: 0.3em;
      border: none;
      outline: none;
      color: #f5f5f5;
    }
  }

  // Enable scroll
  overflow-y: scroll;
  //overflow-x: hidden;

  // Custom scroll
  &::-webkit-scrollbar {
    width: 6px;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: #2f3841;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #73797f;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
  }
}

.dialog {
  padding: 5px;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__avatar {
    width: 50px;
    height: 50px;
    margin-right: 0.7em;
    border-radius: 2em;
  }

  &__author {
    color: #f5f5f5;
    flex-grow: 1;
    font-size: 1.3em;

    // hide looong messa...
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background: #202b36;
  }
}

.conversation {
  height: 100vh;
  background: #0e1621;
}
