@import "flexboxgrid";

* {
  // Custom scroll
  &::-webkit-scrollbar {
    width: 6px;               /* scrollbar with */
  }
  &::-webkit-scrollbar-track {
    background: #2f3841;        /* track color */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #73797f;    /* thumb color */
    border-radius: 20px;       /* thumb radius */
  }
}

.direct {
  display: flex;
}

.dialogs {
  height: 100vh;
  background: #17212b;

  // Unknown padding: 5, null here
  padding: 0;

  // Disable selecting
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  // Search input
  &__search {
    text-align: center;

    & input {
      width: 80%;
      background: #242f3d;
      padding: 0.5em;
      margin: 1em 0;
      border-radius: 0.3em;
      border: none;
      outline: none;
      color: #f5f5f5;
    }
  }

  // Enable scroll
  overflow-y: auto;
  overflow-x: hidden;
}

.conversation {
  height: 100vh;
  background: #0e1621;
  display: flex;
  flex-direction: column;

  // Unknown padding: 5, null here
  padding: 0;

  &__recipient, {
    height: 50px;
    background: #17212b;
  }

  &__place-to-post {
    background: #17212b;
  }


  &__messages {
    flex: 1;

    // Enable scroll
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.recipient {
  &__author {
    padding: 10px;
    color: #f5f5f5;
    font-size: 1.2em;
  }
}

.place-to-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;

  &__attach, &__send {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    img {
      width: 80%;
      height: 80%;

      opacity: 0.8;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  &__message {
    flex-grow: 1;
    padding: 5px 0.5em;
    textarea {
      padding: 1px 0;
      line-height: 1em;
      background: #17212b;
      font-size: 1.4em;
      color: #f5f5f5;
      width: 100%;
      resize: none;
      border: none;
      outline: none;

      // Hide scroll
      overflow-y: scroll; // if we use hidden then we cause use mouse middle button
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}
