.message {
  display: flex;
  margin: 1em;

  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 1em;

    img {
      width: 40px;
      height: 40px;
      border-radius: 2em;
    }
  }

  &__body {
    display: inline-block;
    padding: .5em 1em;
    border-radius: 5px 16px 16px 16px;
    position: relative;

    &:after {
      content: " ";
      position: absolute;
      left: -8px;
      top: 0;

      border-top: 10px solid transparent;
      border-left: none;
      //border-bottom: 10px solid transparent;
    }

    &--sender {
      background-color: #2b5278;
      border: 1px solid #2b5278;

      &:after {
        border-right: 10px solid #2b5278;
      }
    }

    &--recipient {
      background-color: #182533;
      border: 1px solid #182533;

      &:after {
        border-right: 10px solid #182533;
      }
    }
  }

  &__text {
    color: #f5f5f5;
  }

  &__time {
    float: right;
    color: #6d7f8f;
  }

  &__attachments-container {}
}

.file-attachment {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-rows: 30px 30px;
  grid-column-gap: 0.5em;
  grid-template-areas:
    "image filename filename"
    "image filesize filesize";
  max-height: 60px;

  &__icon {
    grid-area: image;
    align-self: center;

    height: 35px;
    width: 35px;
    padding: 0.5em;

    border-radius: 100%;
    background: #4c9ce2;
  }

  &__filename {
    grid-area: filename;
    align-self: end;
    color: #f5f5f5;

    // hide looong messa...
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__filesize {
    grid-area: filesize;
    color: #6d7f8f;

    // hide looong messa...
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
