<div class="message">
  <div class="message__avatar">
    <img src="assets/no-avatar.png" alt="avatar">
  </div>
  <div [ngClass]="isSender ? 'message__body--sender' : 'message__body--recipient'" class="message__body">
    <p class="message__text">{{text}}</p>
    <div class="message__attachments-container">
      <div class="file-attachment">
        <img class="file-attachment__icon" draggable="false" src="assets/attachment.svg" alt="attachment">
        <div class="file-attachment__filename">Some file name</div>
        <div class="file-attachment__filesize">1.3 KB</div>
      </div>
      <div class="image-attachment">
        <img class="image-attachment__content" src="assets/part1.png" alt="attachment">
      </div>
    </div>
    <span class="message__time">{{time}}</span>
  </div>
</div>
