<div class="message">
  <div class="message__avatar">
    <img src="assets/no-avatar.png" alt="avatar">
  </div>
  <div [ngClass]="isSender ? 'message__body--sender' : 'message__body--recipient'" class="message__body">
    <p *ngIf="text" class="message__text">{{text}}</p>
    <div *ngIf="attachments && attachments.length > 0" class="message__attachments-container">
      <app-attachment
        *ngFor="let attachment of attachments"
        [attachment]="attachment"
        (click)="downloadAttachment(attachment)"
      ></app-attachment>
    </div>
    <span class="message__time">{{time}}</span>
  </div>
</div>
