.dialog {
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #202b36;
  }

  &--selected {
    background: #2b5278;

    &:hover {
      background: #2b5278;
    }
  }

  &__avatar {
    display: flex;
    padding: 5px;
    justify-content: center;

    img {
      width: 40px;
      height: 40px;
      border-radius: 2em;
    }
  }

  &__author {
    color: #f5f5f5;
    flex-grow: 1;
    font-size: 1.3em;

    // hide looong messa...
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
